{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <p>
      Welcome to the homepage of this site!
    </p>
    <h2>Information about the event</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius enim facilis officiis dolorum reiciendis iusto. Ratione, iste id ut molestias repellat accusamus voluptatibus temporibus soluta tempore. Earum similique dignissimos ipsam?
    </p>
{% endblock %}